body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px){
    .page{
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }
    .hero{
        grid-column: 2/3;
        height: auto;
    }
    .hero img{
        height: 300px;
    }
    .details{
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
        padding-bottom: 19px;
    }
    .logo{
        font-size: 14px;
    }
    .details h1{
        font-size: 30px;
    }
    .details h2{
        font-size: 20px;
        padding: 20px 0px;
    }

    .details p{
        font-size: 12px;
    }
    /* About */
    .hero2{
        grid-column: 3/3;
        height: auto;
    }
    .hero2 img{
        height: 300px;
    }
    .detail{
        grid-row: 3/3;
        grid-column: 3/3;
        text-align: center;
        padding: 19px 19px;
    }
    .detail h1{
        font-size: 30px;
    }
    .detail h2{
        font-size: 14px;
    }

    .detail p{
        font-size: 15px;
    }
    /* projects */
    .project{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 50%;
    }
    .card img{
        height: 230px;
    }
    /* contact */
    .contactform .row100{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .alert{
    margin-right: 20px;
    width: 50%;
    margin: 20px;
    overflow: auto;
  }
  .alert h1{
      font-size: 9px;
      padding: 150px;
  }
}

